/* Generic style */

html, body {
  height: 100%;
}

body {
  background-color: #B2D7FB;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.4em;
  color: rgba(0,0,0,0.5);

  min-width: 320px;
}

:target:before {
  content:"";
  display:block;
  height:60px;
  margin:-60px 0 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #3C8CD9;
  font-family: 'Roboto Slab';
}

h3,h4,h5,h6 {
  margin: 1em 0 -0.5em 0;
}

.imagebox {
  clear: both;
  width: 80%;
  margin: 0.5em auto;

  padding: 2px;
  /*border: 1px solid rgba(0,0,0,0.3);*/
}

.imagebox div.attribution {
  text-align: right;
  font-size: 0.8em;
}

.imagebox div.caption {
  font-style: italic;
}

.imagebox img {
  width: 100%;
}

.imagebox.floatright, .imagebox.floatleft {
  width: 40%;
}

.imagebox.floatright {
  float: right;
  margin-left: 1em;
}

.imagebox.floatleft {
  float: left;
  margin-right: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  color: #3C8CD9;
  font-weight: bold;

  padding: 0.3em 1.5em;

  border-bottom: 2px solid #3C8CD9;
}

td {
  padding: 0.3em 1.5em;

  border-bottom: 1px solid #85BEF5;
}

#main {
  position: relative;
  /* Fallback background (very big resolution or @media not working) */
  top: 50px;
  left: 0px;
  right: 0px;
}

main {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  padding-right: 5em;
  max-width: 42em;
  /*min-width: 5em;*/

  line-height: 1.5em;
}

@media all and (min-width: 701px) and (max-width: 1000px) {
  main {
    padding-left: 3em;
    padding-right: 3em;
  }

  th,td {
    padding: 0.2em 1em;
  }
}

@media all and (max-width: 700px) {
  main {
    padding-left: 2em;
    padding-right: 2em;
  }

  th,td {
    padding: 0.2em 0.5em;
  }
}

@media all and (max-width: 600px) {
  table {
    font-size: 0.6em;
  }
}

@media all and (max-width: 500px) {
  body {
    font-size: 1em;
  }
}

header {
  height: 250px;
  width: 100%;
  background-image: url("/img/headertest.jpg");
  background-position: center;
  background-size: cover;

  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.45);
}

main > h1:first-child {
  position: absolute;
  top: 120px;
  line-height: 1em;

  color: #ECF5FF;

  text-shadow: rgba(0,0,0,0.8) 0 0 20px;
}

/* Article Summary */
article div.articlesummaryfooter {
  color: rgba(0,0,0,0.3);
}

article {
  margin-bottom: 2em;
}

/* Navigation */

nav {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 10;
  background: #B2D7FB;
  background-image: -webkit-linear-gradient(top, #B2D7FB, #5FA6EB);
  background-image: -moz-linear-gradient(top, #B2D7FB, #5FA6EB);
  background-image: -ms-linear-gradient(top, #B2D7FB, #5FA6EB);
  background-image: -o-linear-gradient(top, #B2D7FB, #5FA6EB);
  background-image: linear-gradient(to bottom, #B2D7FB, #5FA6EB);

  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.nav-menu-items {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
}

nav div {
  display: inline-block;
  color: #ECF5FF;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-size: 32px;
  line-height: 50px;
}
nav #logo_nav, nav #logo_nav_caption {
  vertical-align: middle;
}
nav .nav-item {
  padding: 0px 15px;
  vertical-align: top;

  -webkit-transition: background 0.3s ease-out 0s;
  -moz-transition: background 0.3s ease-out 0s;
  -o-transition: background 0.3s ease-out 0s;
  transition: background 0.3s ease-out 0s;
}
nav .menu-icon:hover {
  height: 50px;
}
nav .menu-icon img {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}
nav .nav-seperator {
  width: 1px;
  height: 100%;
  background-color: #ECF5FF;
}
nav .nav-item a {
  color: #ECF5FF;
  text-decoration: none;
}
nav .nav-item .nav-dropdown-container {
  display: inline;
  visibility: hidden;
  position: absolute;
  padding:0px;
  margin-left: -15px;
}
nav .nav-item:hover {
  background-image: -webkit-linear-gradient(top, #B2D7FB, #3C8CD9);
  background-image: -moz-linear-gradient(top, #B2D7FB, #3C8CD9);
  background-image: -ms-linear-gradient(top, #B2D7FB, #3C8CD9);
  background-image: -o-linear-gradient(top, #B2D7FB, #3C8CD9);
  background-image: linear-gradient(to bottom, #B2D7FB, #3C8CD9);
}
nav .nav-item:hover .nav-dropdown-container, nav .nav-dropdown-container:hover {
  visibility: visible;
}
nav .nav-item .nav-dropdown-container .nav-dropdown-item {
  display: block;
  background-color: #3C8CD9;
}
nav .nav-dropdown-item {
  padding: 0px 15px;
}
nav .nav-item:hover > a {
  color: rgba(0,0,0,0.5);
}
#nav div.menu-icon:first-of-type
{
  display: none;
}
#nav:not( :target ) div.menu-icon > a:first-of-type,
#nav:target div.menu-icon:first-of-type
{
  display: block;
}
#nav:target div.menu-icon:last-of-type
{
  display: none;
}
#nav:target div.nav-menu-items {
  width: 300px;
  height: auto;
  max-height: 350px;
  background-color: #3C8CD9;
  overflow-y: auto;
}
/*#nav:target div {
  font-size: 20px;
  line-height: 30px;
}*/
#nav:target div.nav-item {
  display: block;
}
#nav:target div.nav-seperator {
  display: none;
}
#nav:target div.nav-dropdown-container {
  visibility: visible;
  position: static;
  display: none;
  margin-right: -15px;
}
#nav:target .nav-item:hover div.nav-dropdown-container {
  display: block;
}
#nav:target div.nav-dropdown-item {
  padding-left: 1.5em;
  background-color: #5FA6EB;
}
#logo_nav {
  height: 50px;
  margin: 0px 10px 0px 15px;
  padding: 0px;
}
#logo_nav img {
  height: 50px;
  width: 54px;
}
#logo_nav_caption span {
  display: none;
}
span#logo_nav_cap_1 {
  display: inline-block;
}
@media all {
  span#logo_nav_cap_1 {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  span#logo_nav_cap_1 {
    display: inline-block;
  }
}
@media all and (min-width: 1135px) and (max-width: 1199px) {
  span#logo_nav_cap_2 {
    display: inline-block;
  }
}
@media all and (min-width: 1025px) and (max-width: 1134px) {
  span#logo_nav_cap_3 {
    display: inline-block;
  }
}
@media all and (min-width: 925px) and (max-width: 1024px) {
  span#logo_nav_cap_4 {
    display: inline-block;
  }
}
nav .menu-icon {
  display: none;
}
@media all and (max-width: 755px) {
  #nav-item-ueberuns, #nav-item-ueberuns+* {
    display: none;
  }

  nav .menu-icon, nav .menu-icon+* {
    display: inline-block;
  }
}
@media all and (max-width: 650px) {
  #nav-item-mitmachen, #nav-item-mitmachen+* {
    display: none;
  }
}
@media all and (max-width: 445px) {
  #nav-item-news, #nav-item-news+* {
    display: none;
  }
}
@media all and (max-width: 330px) {
  #nav-item-kontakt, #nav-item-kontakt+* {
    display: none;
  }
}
p#social {
  text-align: right;
  margin-top: 50px;
}

/* new block copied from universal theme*/
.banner {
  margin-bottom: 30px;
  text-align: center;
}
.banner img {
  margin: 0 auto;
}
.banner a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#blog-listing-big .post,
#blog-homepage .post {
  margin-bottom: 60px;
}
#blog-listing-big .post h2,
#blog-homepage .post h2,
#blog-listing-big .post h4,
#blog-homepage .post h4 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
#blog-listing-big .post h2 a,
#blog-homepage .post h2 a,
#blog-listing-big .post h4 a,
#blog-homepage .post h4 a {
  color: #555555;
}
#blog-listing-big .post h2 a:hover,
#blog-homepage .post h2 a:hover,
#blog-listing-big .post h4 a:hover,
#blog-homepage .post h4 a:hover {
  color: #38a7bb;
}
#blog-listing-big .post .author-category,
#blog-homepage .post .author-category {
  color: #999999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.08em;
}
#blog-listing-big .post .author-category a,
#blog-homepage .post .author-category a {
  font-weight: 500;
}
#blog-listing-big .post .date-comments a,
#blog-homepage .post .date-comments a {
  color: #999999;
  margin-right: 20px;
}
#blog-listing-big .post .date-comments a:hover,
#blog-homepage .post .date-comments a:hover {
  color: #38a7bb;
}
@media (min-width: 768px) {
  #blog-listing-big .post .date-comments,
  #blog-homepage .post .date-comments {
    text-align: right;
  }
}
#blog-listing-big .post .intro,
#blog-homepage .post .intro {
  text-align: left;
}
#blog-listing-big .post .image,
#blog-homepage .post .image {
  margin-bottom: 10px;
  overflow: hidden;
}
#blog-listing-big .post .image img,
#blog-homepage .post .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  #blog-listing-big .post .image img.img-responsive,
  #blog-homepage .post .image img.img-responsive {
    min-width: 100%;
  }
}
#blog-listing-big .post .video,
#blog-homepage .post .video {
  margin-bottom: 10px;
}
#blog-listing-big .post .read-more,
#blog-homepage .post .read-more {
  text-align: right;
}
#blog-listing-medium .post {
  margin-bottom: 60px;
}
#blog-listing-medium .post h2 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 24px;
  letter-spacing: 0.08em;
}
#blog-listing-medium .post h2 a {
  color: #555555;
}
#blog-listing-medium .post h2 a:hover {
  color: #38a7bb;
}
#blog-listing-medium .post .author-category {
  float: left;
  color: #999999;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.08em;
}
#blog-listing-medium .post .author-category a {
  font-weight: 500;
}
#blog-listing-medium .post .date-comments {
  float: right;
  font-size: 12px;
}
#blog-listing-medium .post .date-comments a {
  color: #999999;
  margin-right: 20px;
}
#blog-listing-medium .post .date-comments a:hover {
  color: #38a7bb;
}
@media (min-width: 768px) {
  #blog-listing-medium .post .date-comments {
    text-align: right;
  }
}
#blog-listing-medium .post .intro {
  text-align: left;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
  content: " ";
  display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
  clear: both;
}
#blog-listing-medium .post .clearfix:before,
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:before,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:before,
#blog-listing-medium .post .navbar-header:after {
  content: " ";
  display: table;
}
#blog-listing-medium .post .clearfix:after,
#blog-listing-medium .post .navbar:after,
#blog-listing-medium .post .navbar-header:after {
  clear: both;
}
#blog-listing-medium .post .image {
  margin-bottom: 10px;
  overflow: hidden;
}
#blog-listing-medium .post .image img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 767px) {
  #blog-listing-medium .post .image img.img-responsive {
    min-width: 100%;
  }
}
#blog-listing-medium .post .video {
  margin-bottom: 10px;
}
#blog-listing-medium .post .read-more {
  text-align: right;
}
.box-image-text.blog .author-category {
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 300;
  font-size: 12px;
}
.box-image-text.blog .author-category a {
  font-weight: 500;
}
.box-image-text.blog .intro {
  text-align: left;
  margin-bottom: 20px;
}
#blog-homepage .post {
  margin-bottom: 30px;
}
#blog-homepage .post h2,
#blog-homepage .post h4,
#blog-homepage .post .author-category,
#blog-homepage .post .read-more {
  text-align: center;
}
#blog-homepage .post .read-more {
  margin-top: 20px;
}
#blog-post #post-content {
  margin-bottom: 20px;
}
#blog-post .comment {
  margin-bottom: 25px;
}
#blog-post .comment:before,
#blog-post .comment:after {
  content: " ";
  display: table;
}
#blog-post .comment:after {
  clear: both;
}
#blog-post .comment:before,
#blog-post .comment:after {
  content: " ";
  display: table;
}
#blog-post .comment:after {
  clear: both;
}
#blog-post .comment .posted {
  color: #999999;
  font-size: 12px;
}
#blog-post .comment .reply {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#blog-post .comment.last {
  margin-bottom: 0;
}
#blog-post #comments,
#blog-post #comment-form {
  padding: 20px 0;
  margin-top: 20px;
  border-top: solid 1px #eeeeee;
}
#blog-post #comments:before,
#blog-post #comment-form:before,
#blog-post #comments:after,
#blog-post #comment-form:after {
  content: " ";
  display: table;
}
#blog-post #comments:after,
#blog-post #comment-form:after {
  clear: both;
}
#blog-post #comments:before,
#blog-post #comment-form:before,
#blog-post #comments:after,
#blog-post #comment-form:after {
  content: " ";
  display: table;
}
#blog-post #comments:after,
#blog-post #comment-form:after {
  clear: both;
}
#blog-post #comments h4,
#blog-post #comment-form h4 {
  margin-bottom: 20px;
}
#blog-post #comment-form {
  margin-bottom: 20px;
}
