{{ partial "header.html" . }}
<div id="main">
  <header>
  </header>
  <main>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <p id="social">
      <a target="_blank" href="https://www.facebook.com/acbadenbaden/"><span class="fab fa-facebook-f"></span></a>
      &nbsp;
      <a target="_blank" href="http://www.instagram.com/aeroclubbadenbaden/"><span class="fab fa-instagram"></span></a>
      &nbsp;
      <a target="_blank" href=" https://www.youtube.com/channel/UCzHrMO8xRUJMEpS1Ji7dgsA"><span class="fab fa-youtube"></span></a>
    </p>
  </main>
</div>
{{ partial "footer.html" . }}
