<style>
/* Landing page specific */

@media all and (max-device-width: 1920px) and (max-device-height: 1080px) {
  #landing-bg {
    background-image: url("/img/pages/landing/segelflug_c_1920_1080.jpg") !important;
  }
}
@media all and (max-device-width: 1366px) and (max-device-height: 768px) {
  #landing-bg {
    background-image: url("/img/pages/landing/segelflug_c_1366_768.jpg") !important;
  }
}
@media all and (max-device-width: 1280px) and (max-device-height: 1024px) {
  #landing-bg {
    background-image: url("/img/pages/landing/segelflug_c_1280_1024.jpg") !important;
  }
}
@media all and (max-device-width: 1024px) and (max-device-height: 768px) {
  #landing-bg {
    background-image: url("/img/pages/landing/segelflug_c_1024_768.jpg") !important;
  }
}
@media all and (max-device-width: 1280px) and (max-device-height: 800px) {
  #landing-bg {
    background-image: url("/img/pages/landing/segelflug_c_1280_800.jpg") !important;
  }
}

html {
  /* Static font size on the landing page necessary for design reasons */
  font-size: 15px;
}

body {
  min-width: 320px;
}

#landing-bg {
  position: absolute;
  /* Fallback background (very big resolution or @media not working) */

  background-image: url("/img/pages/landing/segelflug_c_2560_1600.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 270px; /* 320px - 50px */
  top: 50px;
  bottom: 0px;
}
#landing-bg #teaser {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7em;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}
#landing-bg #teaser p span {
  color: rgba(1,1,1,0.8);
  text-shadow: rgba(1,1,1,0.5) 0 0 3px;
}
#landing-bg #entryButton {
  margin: 0 auto;
  text-align: center;
  /*vertical-align: middle;*/

  margin-top: 100px;
}
#entryButton a {
  /*background: linear-gradient(top, rgba(178, 215, 251, 0.5) 0%, rgba(95, 166, 235, 0.5) 100%, rgba(95, 166, 235, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(178, 215, 251, 0.5) 0%, rgba(95, 166, 235, 0.5) 100%, rgba(95, 166, 235, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(178, 215, 251, 0.5) 0%, rgba(95, 166, 235, 0.5) 100%, rgba(95, 166, 235, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(178, 215, 251, 0.5) 0%, rgba(95, 166, 235, 0.5) 100%, rgba(95, 166, 235, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(178, 215, 251, 0.5) 0%, rgba(95, 166, 235, 0.5) 100%, rgba(95, 166, 235, 0.5) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#B2D7FB, endColorstr=#5FA6EB, GradientType=1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;*/
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  color: white;
  border: 3px white solid;
  background: rgba(50,50,50,0.6);
  /*text-shadow: 0px 0px 3px #bbb, -1px -1px #bbb, 1px 1px #bbb;*/

  -webkit-transition: color 170ms, background 170ms ease-in-out;
  -moz-transition: color 170ms, background 170ms ease-in-out;
  -ms-transition: color 170ms, background 170ms ease-in-out;
  -o-transition: color 170ms, background 170ms ease-in-out;
  transition: color 170ms, background 170ms ease-in-out;
}
#entryButton a:hover {
  /*background: #ECF5FF;
  background: linear-gradient(top, rgba(236, 245, 255, 0.5) 0%, rgba(178, 215, 251, 0.5) 100%, rgba(178, 215, 251, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(236, 245, 255, 0.5) 0%, rgba(178, 215, 251, 0.5) 100%, rgba(178, 215, 251, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(236, 245, 255, 0.5) 0%, rgba(178, 215, 251, 0.5) 100%, rgba(178, 215, 251, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(236, 245, 255, 0.5) 0%, rgba(178, 215, 251, 0.5) 100%, rgba(178, 215, 251, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(236, 245, 255, 0.5) 0%, rgba(178, 215, 251, 0.5) 100%, rgba(178, 215, 251, 0.5) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#ECF5FF, endColorstr=#B2D7FB, GradientType=1);*/
  text-decoration: none;
  background: white;
  color: black;

  -webkit-transition: color 170ms, background 170ms ease-in-out;
  -moz-transition: color 170ms, background 170ms ease-in-out;
  -ms-transition: color 170ms, background 170ms ease-in-out;
  -o-transition: color 170ms, background 170ms ease-in-out;
  transition: color 170ms, background 170ms ease-in-out;
}

@media all and (max-height: 500px) {
  body {
    font-size: 1em;
  }

  #landing-bg #entryButton {
    margin-top: 0px;
  }
}

.link-intern, .link-intern:link, .link-intern:active, .link-intern:visited {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ccc;
}

.link-intern:hover {
  color: #fff;
}
</style>
