<nav>
  <div id="logo_nav">
    <img src="/img/logo_nav.png" />
  </div>
  <div id="logo_nav_caption">
    <span id="logo_nav_cap_1">Aero-Club Baden-Baden e.V.</span>
    <span id="logo_nav_cap_2">Aero-Club Baden-Baden</span>
    <span id="logo_nav_cap_3">AC Baden-Baden</span>
    <span id="logo_nav_cap_4">AC Baden</span>
  </div>

  <div class="nav-item menu-icon" id="nav-item-menu">
    <img src="/img/menuicon.svg">
  </div>
  <div class="nav-seperator"></div>
  {{ range .Site.Menus.main }}
  <div class="nav-item" id="nav-item-{{ .Identifier }}">
    <a href="{{ .Url }}">{{ .Name }}</a>
    {{ if .HasChildren }}
    <br>
    <div class="nav-dropdown-container">
      {{ range .Children }}
      <div class="nav-dropdown-item">
        <a href="{{ .Url }}">{{ .Name }}</a>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="nav-seperator"></div>
  {{ end }}
</nav>
