<!DOCTYPE html>
<html lang="de">
<head>
  {{ partial "head.html" . }}

  {{ partial "landingstyle.html" . }}
</head>
<body>
  {{ partial "navigation.html" . }}
  <!-- This is the landing page -->
  <div id="landing-bg">
    <div id="teaser">
      <p>
        <span>So sieht Fliegen aus.</span>
      </p>
      <p id="entryButton">
        <a href="{{ .Site.Params.calltoaction }}">Mit uns abheben!</a>
      </p>
    </div>
  </div>
  <div class="link-intern">
    <a href="http://intern.aero-club.eu">Intern</a>
  </div>
{{ partial "footer.html" . }}
