{{ partial "header.html" . }}

<!-- This is the landing page -->
<div id="landing-bg">
  <div id="teaser">
    <!--<p>Das ist der Blick aus dem Cockpit eines Segelfliegers.</p>-->
    <p>
      <span>Unter die Erde kommen Sie von alleine.</span>
    </p>
    <p>
      <span>In den Himmel nur, wenn Sie Initiative ergreifen.</span>
    </p>
    <p id="entryButton">
      <a href="/home">Jetzt mit uns abheben!</a>

      <!--<img src="/img/logo_farbig.jpg" />-->
    </p>
  </div>
</div>

{{ partial "footer.html" . }}