<!DOCTYPE html>
<html lang="de">
<head>
  {{ partial "head.html" . }}

  {{ partial "flugzeugparkstyle.html" . }}
</head>
<body>
  {{ partial "navigation.html" . }}
<div id="main">
  <header>
  </header>
  <main><!-- /img/header/header_flugzeugpark.jpg -->
    <h1>Flugzeugpark</h1>
    <p>Zur Zeit stehen Mitgliedern des Aero-Club Baden-Baden 4 moderne Kunststoff-Segelflugzeuge (2 Einsitzer und 2 Doppelsitzer), zwei Motorflugzeuge der Echo-Klasse sowie ein nagelneues Ultraleichtflugzeug Comco Icarus C42B zur Verfügung.</p>
    <p>Im Folgenden ein kurzer Überblick über unseren Flugzeugpark:</p>
    <div id="flugzeugpark-box">
    {{ range .Data.Pages }}
        {{ .Render "summary" }}
    {{ end }}
    </div>
  </main>
</div>
{{ partial "footer.html" . }}
